#d1,#d2,#d3 { 
    border: 10px dotted #000;
    padding: 20px;
    background-color: #0f0;

}
#d1{
    background-clip: border-box;
}
#d2{
    background-clip: padding-box;
}
#d3{
    background-clip: content-box;
}